<%= link_to  "Add", new_cocktail_path %>
<% @cocktails.each do |cocktail|  %>
   <p><%= link_to  cocktail.name, cocktail_path(cocktail) %> <%= link_to  "Edit", edit_cocktail_path(cocktail) %></p>
<% end %>